{% extends "base.html" %}
{% block title %}Flipkart|Seller{% endblock title %}
{% block body %}
<div class="container">
    <div class="row">
        <center>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <br>
                <input type="submit" value="Update">
                <a type="/ProductList"><input type="button" value="Cancel"></a>
            </form>
        </center>
    </div>
</div>
{% endblock body %}
