{% extends "base.html" %}
{% block title %}Flipkart|Orders{% endblock title %}
{% block body %}
<div class="container">
    <div class="row">
        <h2 class="text-center">My Orders</h2>
        {% if orders %}
        <table class = "table table-bordered">
            <thead>
                <tr>
                    <th>OrderID</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total price</th>
                </tr>
            </thead>
            <tbody>
                {% for x in orders %}
                <tr>
                    <td>{{x.orderid}}</td>
                    <td>{{x.productid.productname}}</td>
                    <td>{{x.qty}}</td>
                    <td>{{x.productid.price}}</td>
                    <td>55</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2 class="text-center bg-danger">You have no order yet</h2>
        {% endif %}
    </div>
</div>
{% endblock body %}